{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
        <li class="breadcrumb-item">Maestros</li>
        <li class="breadcrumb-item"><a href="{{ path('usuarios_index') }}">Usuarios</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Usuario</li>
      </ol>
    </nav>

    <div class="container-fluid" style="height:920px;">
      <header class='text-center'>
          <h2>Crear Usuario.</h2>
          <span class="help-block"><li class="fa fa-info-circle text-info"></li> Crea un nuevo usuario del sistema (* Campos requeridos.).</span>
      </header>

      {% if mensajes is defined and mensajes is not null%}
          <div id='mensaje' class="alert alert-warning alert-dismissible mt-3 w-50 mx-auto d-inline-block" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ mensajes }}
          </div>
      {% endif %}

      <div class="container w-50">
          {{ form_start(form) }}
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.nombreCompleto) }}</div>
              <div>{{ form_widget(form.nombreCompleto) }}</div>
            </div>
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.identificacion) }}</div>
              <div>{{ form_widget(form.identificacion) }}</div>
            </div>
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.contrasena) }}</div>
              <div>{{ form_widget(form.contrasena,{attr:{value:usuario.getContrasena}}) }}</div>
            </div>
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.telefono) }}</div>
              <div>{{ form_widget(form.telefono) }}</div>
            </div>
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.activo) }}</div>
              <div>{{ form_widget(form.activo) }}</div>
            </div>
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.idGrupoUsuario) }}</div>
              <div>{{ form_widget(form.idGrupoUsuario) }}</div>
            </div>
            <div class="col-md-12 mx-auto mt-1">
              <div class="text-left ml-2">{{ form_label(form.idSedeAgencia) }}</div>
              <div>{{ form_widget(form.idSedeAgencia) }}</div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><input type="submit" class="btn btn-primary btn-sm" value="Crear" /></div>
            </div>
          {{ form_end(form) }}
      </div>

      <div class="row ml-3">
        <ul>
            <li>
                <a class="btn btn-info btn-sm" href="{{ path('usuarios_index') }}">Volver a la lista</a>
            </li>
        </ul>
      </div>
   </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
{% endblock %}
