{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('parametros_index') }}">Configuración del sistema</a></li>
        <li class="breadcrumb-item active" aria-current="page">Crear Parámetro</li>
      </ol>
    </nav>
    <div class="container-fluid" style="height:920px;">
        <header class='text-center'>
            <h2>Crear Parámetro.</h2>
            <span class="help-block"><li class="fa fa-info-circle text-info"></li> Crea un nuevo parámetro de configuración en el sistema. (* Campos requeridos.)</span>
        </header>

        {% if mensajes is defined and mensajes is not null%}
            <div id='mensaje' class="alert alert-warning alert-dismissible mt-3 w-50 mx-auto d-inline-block" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ mensajes }}
            </div>
        {% endif %}

        <div class="row w-50 mx-auto">
          {{ form_start(form) }}
              <div class="col-md-12 mx-auto mt-2">
                <div class="text-left">{{ form_label(form.urlLogoEmpresa) }}
                  <span class="help-block"><li class="fa fa-info-circle text-info"></li> URL del logo de la empresa de la cual se administran los recaudos. </span>
                </div>
                <div>{{ form_widget(form.urlLogoEmpresa) }}</div>
              </div>

              <div class="col-md-12 mx-auto mt-1">
                <div class="text-left">{{ form_label(form.headerInformes) }}
                  <span class="help-block"><li class="fa fa-info-circle text-info"></li> Formato de encabezados de los informes que será generados en el sistema.</span>
                </div>
                <div>{{ form_widget(form.headerInformes) }}</div>
              </div>

              <div class="col-md-12 mx-auto mt-1">
                <div class="text-left">{{ form_label(form.porcentajeMetaRecaudo) }}
                  <span class="help-block"><li class="fa fa-info-circle text-info"></li> Este es el porcentaje que se fijó como meta para los periodos de recaudos.</span>
                </div>
                <div>{{ form_widget(form.porcentajeMetaRecaudo) }}</div>
              </div>

              <div class="col-md-12 mx-auto mt-1">
                <div class="text-left">{{ form_label(form.idEmpresa) }}
                </div>
                <div>{{ form_widget(form.idEmpresa) }}</div>
              </div>

              <div class="row mt-3">
                <div class="col-md-12"><input type="submit" class="btn btn-primary btn-sm" value="Crear" /></div>
              </div>
          {{ form_end(form) }}
        </div>

        <div class="row ml-3">
          <ul>
              <li>
                  <a class="btn btn-info btn-sm" href="{{ path('parametros_index') }}">Volver a la lista</a>
              </li>
          </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  $(document).ready(function(){
    CKEDITOR.replace( 'appbundle_parametros_headerInformes' );
  });
{% endblock %}
