{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
        <li class="breadcrumb-item">Maestros</li>
        <li class="breadcrumb-item"><a href="{{ path('agencias_index') }}">Agencias</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ver Agencia</li>
      </ol>
    </nav>

    <div class="container-fluid" style="height:700px;">

      <header class='text-center'>
          <h2>Agencia Nro. {{ agencia.idAgencia }}</h2>
      </header>

      <div class="row table-responsive">
        <table class="table table-striped table-bordered w-50 mx-auto">
            <tbody>
                <tr>
                    <th>ID Agencia</th>
                    <td>{{ agencia.idAgencia }}</td>
                </tr>
                <tr>
                    <th>Nombre Agencia</th>
                    <td>{{ agencia.nombreAgencia }}</td>
                </tr>
                <tr>
                    <th>Nit Agencia</th>
                    <td>{{ agencia.nitAgencia }}</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>{{ agencia.direccion }}</td>
                </tr>
                <tr>
                    <th>Teléfono / Celular</th>
                    <td>{{ agencia.telCel }}</td>
                </tr>
                <tr>
                    <th>Empresa</th>
                    <td>{{ agencia.getAgenciasEmpresas().getIdEmpresa() }}</td>
                </tr>
            </tbody>
        </table>
      </div>

      <div class="row ml-3">
        <ul>
            <li>
                <a class="btn btn-info btn-sm" href="{{ path('agencias_index') }}">Volver a la lista</a>
            </li>
            <li>
                <a class="btn btn-primary btn-sm" href="{{ path('agencias_edit', { 'idAgencia': agencia.idAgencia }) }}">Editar</a>
            </li>
            {% if app.session.get('rol') == 'Superusuario' or app.session.get('rol') == 'Administrador' %}
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Eliminar" class="btn btn-danger btn-sm">
                {{ form_end(delete_form) }}
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}

{% endblock %}
