{% extends 'base.html.twig' %}

{% block body %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white">
        <li class="breadcrumb-item"><a href="{{path('dashboard')}}">Dashboard</a></li>
        <li class="breadcrumb-item">Maestros</li>
        <li class="breadcrumb-item active" aria-current="page">Sedes Agencias</li>
      </ol>
    </nav>

    <header class='text-center'>
        {% if app.session.get("rol") == 'Superusuario' %}
          <h2>Lista de Sedes de las Agencias.</h2>
          <span class="help-block"><li class="fa fa-info-circle text-info"></li> Lista de las Sedes de las Agencias registradas.</span>
        {% elseif app.session.get("rol") == 'Administrador' %}
          <h2>Lista de Sedes de las Agencias habilitadas.</h2>
          <span class="help-block"><li class="fa fa-info-circle text-info"></li> Lista de las Sedes de Agencias registradas y habilitadas para su empresa.</span>
        {% elseif app.session.get("rol") == 'Administrador Agencias' %}
          <h2>Lista de Sedes de su Agencia.</h2>
          <span class="help-block"><li class="fa fa-info-circle text-info"></li> Lista de las Sedes de su Agencia tiene registradas y habilitadas.</span>
        {% endif %}
    </header>

    {% if Error is defined and Error is not null %}
        <div id='Error' class="alert alert-danger alert-dismissible mt-3 w-50 mx-auto d-inline-block" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ Error }}
        </div>
    {% else %}
      {% if mensajes is defined and mensajes is not null or app.request.get('mensajes') is defined and app.request.get('mensajes') is not null%}
          <div id='mensaje' class="alert alert-warning alert-dismissible mt-3 w-50 mx-auto d-inline-block" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% if mensajes is defined %}
              {{ mensajes }}
            {% elseif app.request.get('mensajes') is defined %}
              {{ app.request.get('mensajes') }}
            {% endif %}
          </div>
      {% endif %}
    {% endif %}

    <div class="container-fluid">
      <ul class="mb-2">
          {% if app.session.get('rol') == 'Superusuario' or app.session.get('rol') == 'Administrador' or app.session.get('rol') == 'Administrador Agencias' %}
          <li>
              <a class="btn btn-info btn-sm" href="{{ path('sedesagencias_new') }}">Crear Sede</a>
          </li>
          {% endif %}
      </ul>

      <div class="text-left row mb-2" id="filtros">
        <div class="col-md-2"><h6 class="mr-3">Filtros de búsqueda</h6></div>
        <div class="col-md-8">
          {{ form_start(form) }}
            <div class="row d-inline-block">
              <div class="col-md-12">{{ form_widget(form.nombreSede) }}</div>
            </div>
            <div class="row d-inline-block">
              <div class="col-md-12">{{ form_widget(form.agencia) }}</div>
            </div>
            <div class="row d-inline-block">
              <div class="col-md-12">{{ form_widget(form.municipio) }}</div>
            </div>
            <div class="row d-inline-block">
              <div class="col-md-12">
                <button type="submit" class="btn btn-info btn-sm"><li class="fa fa-search"></li></button>
              </div>
            </div>
          {{ form_end(form) }}
        </div>
        <div class="col-md-2 text-right">
            <span class="label label-warning">
                Total Entradas: <span class="cTomato">{{ sedesAgencias.getTotalItemCount }}</span>
            </span>
        </div>
      </div>

      {% if sedesAgencias is not empty %}
        <div class="table-responsive" style="height:650px; font-size:13px;">
          <table class="table table-striped table-sm mx-auto">
              <thead>
                  <tr>
                      {% if app.session.get('rol') == 'Superusuario' %}
                      <th>ID</th>
                      {% endif %}
                      <th>Nombre Sede</th>
                      <th>Dirección</th>
                      <th>Teléfono / Celular</th>
                      <th>Agencia</th>
                      {% if app.session.get('rol') != 'Administrador' and app.session.get('rol') != 'Inactivo' and app.session.get('rol') != 'Auditor' %}
                      <th>Empresa</th>
                      {% endif %}
                      <th>Municipio</th>
                      <th>¿Inactiva?</th>
                      <th>Acciones</th>
                  </tr>
              </thead>
              <tbody>
              {% for sedesAgencia in sedesAgencias %}
                  <tr>
                      {% if app.session.get('rol') == 'Superusuario' %}
                      <td><a href="{{ path('sedesagencias_show', { 'idSedeAgencia': sedesAgencia.idSedeAgencia.idSedeAgencia }) }}">{{ sedesAgencia.idSedeAgencia.idSedeAgencia }}</a></td>
                      {% endif %}
                      <td>{{ sedesAgencia.idSedeAgencia.nombreSede }}</td>
                      <td>{{ sedesAgencia.idSedeAgencia.direccion }}</td>
                      <td>{{ sedesAgencia.idSedeAgencia.telCel }}</td>
                      <td>{{ sedesAgencia.idSedeAgencia.idAgencia }}</td>
                      {% if app.session.get('rol') != 'Administrador' and app.session.get('rol') != 'Inactivo' and app.session.get('rol') != 'Auditor' %}
                      <td>{{ sedesAgencia.idEmpresa }}</td>
                      {% endif %}
                      <td>{{ sedesAgencia.idSedeAgencia.idDivipola }}</td>
                      <td>
                      {% if sedesAgencia.idSedeAgencia.inactiva == 0 %}
                          <span style="font-size:13px;" class="badge badge-success text-white">NO</span>
                      {% elseif sedesAgencia.idSedeAgencia.inactiva == 1 %}
                          <span style="font-size:13px;" class="badge badge-danger text-white">SI</span>
                      {% endif %}
                      </td>
                      <td>
                          <ul>
                              <li>
                                  <a title="Ver" href="{{ path('sedesagencias_show', { 'idSedeAgencia': sedesAgencia.idSedeAgencia.idSedeAgencia }) }}">
                                    <span class="fa fa-eye cTomato"></span>
                                  </a>
                              </li>
                              <li>
                                  <a title="Editar" href="{{ path('sedesagencias_edit', { 'idSedeAgencia': sedesAgencia.idSedeAgencia.idSedeAgencia }) }}">
                                    <span class="fa fa-edit cTomato"></span>
                                  </a>
                              </li>
                              {% if sedesAgencia.idSedeAgencia.inactiva == 0 %}
                              <li>
                                  <a title="Click aquí para Inactivar esta sede" href="{{ path('sedesagencias_desactivar', { 'idSedeAgencia': sedesAgencia.idSedeAgencia.idSedeAgencia, 'desactivar':true }) }}">
                                    <span class="fa fa-ban cTomato"></span>
                                  </a>
                              </li>
                              {% endif %}
                          </ul>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
          {# display navigation #}
          <div class="navigation mx-auto">
              {{ knp_pagination_render(sedesAgencias) }}
          </div>
        </div>
      {% else %}
        <div class="alert alert-warning w-50 mx-auto">No hay registros que listar.</div>
      {% endif %}
    </div>

{% endblock %}
{% block javascripts %}
  {{ parent() }}

{% endblock %}
